S3_BUCKET= # S3 버킷명
TOSSINVEST_CLIENT_ID= # 토스증권API 클라이언트 ID
TOSSINVEST_CLIENT_SECRET= # 토스증권 API 클라이언트 시크릿 키
LOGGING_LEVEL= # logging 모듈의 로깅 레벨 (ex: INFO)
PEER_STOCKS_TICKER=QQQ,VOO,QLD
PEER_STOCKS_NAME=나스닥100추종,S&P500추종,나스닥100추종2배